* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.header {
    height: 77px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
    align-items: center;

    &__input {
        width: 288px;
        height: 41px;
        border-radius: 20px;
        border: 1px solid $color-text;
        background-color: transparent;
        outline: none;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: $color-text;
        padding-left: 32px;
        padding-right: 32px;
        box-sizing: border-box;
        margin-top: 16px;
        margin-bottom: 16px;
        font-family: "Montserrat", sans-serif;
    }

    &__input::placeholder {
        color: $color-text;
    }
}

.top-line {
    height: 0px;
}

.logo {
    margin-top: 16px;
    margin-bottom: 16px;
}

.body {
    font-family: "Montserrat", sans-serif;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    margin-top: 16px;
    margin-bottom: 16px;

    &-mob {
        display: none;
    }
}

.menu__link {
    font-size: 16px;
    line-height: 20px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: $color-text;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.top {
    height: 735px;
    background-image: url(img/body_head.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.top__link {
    color: $color-text;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.top_link2 {
    color: #000;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-decoration-line: underline;
    display: flex;
    margin-bottom: 64px;
    text-decoration: none;
    margin-top: 39px;

    &:hover {
        text-decoration: underline;
    }
}


.title {
    font-size: 64px;
    line-height: 70px;
    color: $color-text;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    max-width: 792px;
    margin-top: 64px;
    margin-bottom: 16px;
    
    &-catalog {
        padding-top: 127px;
        font-size: 64px;
        line-height: 70px;
        color: $color-text;
        font-size: 64px;
        font-style: normal;
        font-weight: 600;
        max-width: 792px;
        margin-bottom: 16px;
    }
    &-cart{
        padding-bottom: 100px;
        font-size: 64px;
        line-height: 70px;
        color: $color-text;
        font-size: 64px;
        font-style: normal;
        font-weight: 600;
        max-width: 792px;
        margin-top: 127px;

    }
}
.for {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(12, 1fr);
    margin-top: 32px;
}

.for_item {
    height: 415px;
    grid-column: span 4;
    text-decoration: none;
    color: $color-text;
    text-align: center;
    font-size: 34px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}

.for_item_1big {
    background-image: url(img/for1.jpeg);
    grid-column: span 6;
}

.for_item_2big {
    background-image: url(img/for2.jpg);
    grid-column: span 6;
}

.for_item_3 {
    background-image: url(img/for3.jpg);
}

.for_item_4 {
    background-image: url(img/for4.jpg);
}

.for_item_5 {
    background-image: url(img/for5.jpg);
}

.heading {
    color: #000;
    font-size: 47px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-top: 64px;
}

.catalog {
    color: #000;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 64px;
    margin-bottom: 16px;
}

.top__text {
    font-size: 24px;
    line-height: 32px;
    color: $color-text;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 16px;
}

.product {
    display: flex;
    flex-wrap: wrap;
    gap: 31px;

    &_box {
        display: flex;
        gap: 31px;
        flex-wrap: wrap;
    }
}

.money {
    display: flex;
    gap: 32px;
}

.vodas {
    position: relative;
    width: 100%;
}

.product_box_item {
    width: 379px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
}

.product_name {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.product_text {
    color: #888;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.product_price {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #050505;
}

.product_price_sale {
    text-decoration-line: line-through;
    color: #888888;
}

.footer_heading {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.footer_link {
    color: #888;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.menu-body:hover {
    text-decoration-line: underline;
}

.info {
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

.info {
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.email {
    background: $color-text;
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
    border-radius: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #c4c4c4;
    width: 275px;
    height: 46px;
    padding-left: 25px;
    padding-right: 25px;
    color: #c4c4c4;

    ::placeholder {
        font-family: inherit;
    }
}

.button {
    background: rgba(222, 215, 215, 0.41);
    border: 1px solid $color-text;
    box-sizing: border-box;
    border-radius: 20px;
    width: 275px;
    height: 46px;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    font-family: inherit;

    &:hover {
        background-color: #000;
        color: white;
    }
}

.footer {
    background: #f7f6f6;
    padding-top: 32px;
    margin-top: 64px;
    padding-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &_form {
        gap: 12px;
        font-family: inherit;
    }

    &_icon:hover path {
        fill: pink;
    }
}

.footer_content {
    width: 789px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer_menu {
    display: flex;
    flex-direction: column;
    gap: 12px;

    &_menu-page {
        color: #000;
        font-family: Montserrat;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
}

.footer_item {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer_info {
    display: flex;
    gap: 129px;
}

.footer_form {
    display: flex;
    flex-direction: column;

    &_email {
        background: $color-text;
        border: 1px solid #c4c4c4;
        box-sizing: border-box;
        border-radius: 20px;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 18px;
        color: #c4c4c4;
        width: 275px;
        height: 46px;
        padding-left: 25px;
        padding-right: 25px;
        color: #000000;
        font-family: inherit;
    }

    &_email::placeholder {
        color: #c4c4c4;
    }
}

.footer_icons {
    display: flex;
    align-items: center;
    gap: 24px;
}

/*Каталог*/

.top_catalog {
    height: 400px;
    background-image: url(img/catalog-background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.cat-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 64px;
    margin-bottom: 41px;
}

.cat_items1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}

.cat_items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    width: 378px;
}

.bread-crumbs {
    display: flex;
    gap: 10px;
    text-decoration: none;
    color: #000;
    align-items: baseline;
}

.cat-select {
    display: block;
    padding: 0.75rem 2.5rem 0.75rem 1rem;
    background: none;
    font-family: inherit;
    font-size: 1rem;
    color: #000000;
    background-image: url(img/Polygon.svg);
    appearance: none;
    background-repeat: no-repeat, repeat;
    background-position: right 0.7em top 50%, 0 0;
    background-size: 20px 11px;
    border-radius: 20px;
    border: 1px solid #c4c4c4;
    width: 288px;
}

.cat-select:after {
    content: "";
    display: block;
    border-style: solid;
    border-width: 6px 5px 0 5px;
    border-color: #000 transparent transparent transparent;
    pointer-events: none;
    position: absolute;
    top: 50%;
    right: 1rem;
    z-index: 1;
    margin-top: -3px;
}

.cat-more {
    color: #000;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.box_bot_link {
    margin-top: 32px;
    padding-bottom: 64px;
}

.bread-crumbs-link {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    text-decoration: none;

    &:hover span {
        text-decoration: underline;
    }
}

.bread-crumbs-link:not(:last-child):after {
    content: "/";
    padding-left: 10px;
}

.top_cart {
    height: 400px;
    background-image: url(img/background-cart.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.product_box_icon {
    position: absolute;
    right: 5px;
    top: 20px;
    display: none;

    &_item {
        padding-right: 20px;

        &_vector {
            filter: drop-shadow(1px 0px 3px rgb(4, 0, 255));
        }

        &_cool {
            filter: drop-shadow(1px 0px 3px rgb(170, 0, 255));
        }
    }
}

.product_box_item:hover {
    transform: scale(1.01);
    // box-shadow: 0 0 8px #ccc;
}

.product_box_item:hover .product_box_icon {
    display: block;
}

.cart-content {
    width: 834px;
}

@import "tablet";
@import "mobile";